
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Nunito Sans Regular'), local('NunitoSans-Regular'), url(https://fonts.gstatic.com/s/nunitosans/v5/pe0qMImSLYBIv1o4X1M8cceyI9tScg.woff2) format('woff2');
  }

  @font-face {
    font-family: 'Nunito Sans ExtraBold';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: local('Nunito Sans ExtraBold'), local('NunitoSans-ExtraBold'), url(https://fonts.gstatic.com/s/nunitosans/v5/pe03MImSLYBIv1o4X1M8cc8aBc5tU1E.woff2) format('woff2');
  }

.navbar{
    box-shadow: none;
}

p, h1, h2{
    letter-spacing: 0.01em;
}

body {
    font-size:15px;
    overflow-y: scroll;
    font-family: 'Nunito Sans', 'Helvetica Neue Light', 'Open Sans', Helvetica;
}

.post-content h2 {
    margin-top: 50px;
}
.post-content h3 {
    margin-top: 20px;
    font-size: 22px;
    color: #1E266D;
}
.post-content h4 {
    margin-top: 20px;
    font-size: 20px;
}

.post-content pre {
    margin-bottom: 30px;
}

.post-content img {
    margin: 12px 0px 3px 0px;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.post-content ol li, .post-content ul li {
    margin: 10px 0px;
}

.pageSummary {
    font-size:13px;
    display:block;
    margin-bottom:15px;
    padding-left:20px;
}

.post-summary {
    margin-bottom:12px;
}

.bs-example{
    margin: 20px;
}

.breadcrumb li {
    color: gray;
}

table {
    background-color: transparent;
}
caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #777;
    text-align: left;
}
th {
    text-align: left;
}
table {
    max-width: 90%;
    margin-bottom: 20px;
    border: 1px solid #dedede;
}

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    text-transform: none;
    background-color: #777;
    color: white;
    text-align: left;
}
table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td {
    border-top: 0;
}

table > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

table col[class*="col-"] {
    position: static;
    display: table-column;
    float: none;
}
table td[class*="col-"],
table th[class*="col-"] {
    position: static;
    display: table-cell;
    float: none;
}

table tr td {
    hyphens: auto;
}


p.external a {
    text-align:right;
    font-size:12px;
    color: #0088cc;
    display:inline;
}

#definition-box-container div a.active {
    font-weight: bold;
}
p.post-meta {font-size: 80%; color: #777;}

.entry-date{font-size:14px;font-size:0.875rem;line-height:1.71429;margin-bottom:0;text-transform:uppercase;}

/* search area */
#search-demo-container ul#results-container {
    list-style: none;
    font-size: 12px;
    background-color: white;
    position: absolute;
    top: 40px; /* if you change anything about the nav, you'll prob. need to reset the top and left values here.*/
    left: 20px;
    z-index: 1;
    width:223px;
    border-left: 1px solid #dedede;
}

#search-demo-container {
    margin-bottom: 10px;
}


ul#results-container a {
    background-color: transparent;
}

ul#results-container a:hover {
    color: black;
}


#search-demo-container a:hover {
    color: black;
}
#search-input {
    padding: 5px;
    font-size: 0.8em;
    width: 180px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* end search */

.btn{
    letter-spacing: 0.05em !important;
    outline: none;
    font-size: 16px !important;
    text-transform: none;
    border-radius: 6px;
}

.btn-primary{
    margin-right: 30px;
    padding: 19px 58px;
    box-shadow: 0px 2px 4px rgba(0, 16, 75, 0.2) !important;
}
.btn.btn-primary {
    background-color: #1D66FF !important;
    border-color: #1D66FF;
}
.btn.btn-primary:hover {
    background-color: #2D76FF !important;
    border-color: #2D76FF;
}
.btn.btn-primary.waves-effect.waves-light:active {
    background-color: #004CED !important;
    border-color: #2D76FF;
}

.btn.btn-outline-primary{
    background-color: transparent;
    border: none !important;
    color: #1D66FF;
    padding: 19px 0px;
    box-shadow: none !important;
}
.main-banner-text .btn.btn-outline-primary:hover,
.main-banner-text .btn.btn-outline-primary:focus,
.main-banner-text .btn.btn-outline-primary:active{
    background-color: transparent;
    border: none;
    box-shadow: none !important;
    color: #5396F5;
}


.filter-options {
    margin-bottom: 20px;
}
.filter-options button {
    margin: 3px;
}

div#toc ul li {
    margin: 8px 0px 8px 22px;
    font-size: 90%;
    list-style: square;
}
div#toc ul {
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 5px;
    max-width: 300px;
    color: gray;
}

div#toc ul li ul {
    padding-left:8px;

}

div#toc ul li ul li::before {
    content: "–  ";
}

div#toc >ul::before {
    content: "Table of Contents";
    font-weight: 500;
    color: #555;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    width:70px;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:10px;
}

li.dropdownActive a {
    font-weight: bold;
}


.post-content a.fa-rss {
    color: orange;
}


.navbar-inverse .navbar-nav > li > a {
    background-color: transparent;
    margin-top:10px;
}

.post-content .rssfeedLink {
    color: #248EC2;
}

/* FAQ page */
#accordion .panel-heading {
    font-size: 12px;
}

a.accordion-toggle, a.accordion-collapsed {
    font-size: 14px;
    text-decoration: none;
}

/* navgoco sidebar styles (customized) */
.nav, .nav ul, .nav li {
    list-style: none;
}

.nav ul {
    padding: 0;
    /*margin: 0 0 0 18px;*/
    margin:0px;
}

.nav {
    /* padding: 4px;*/
    padding:0px;
    margin: 0px;
}

.nav > li {
    margin: 1px 0;
}

.nav > li li {
    margin: 2px 0;
}

.nav a {
    color: #53585b;
    display: block;
    outline: none;
    text-decoration: none;
    letter-spacing: 0.05em;
}

.nav li > a > span {
    float: right;
    font-size: 19px;
    font-weight: bolder;
}


.nav li > a > span:after {
    content: '\25be';
}
.nav li.active > a > span:after {
    content: '\25b4';
}

.nav a:hover, .nav li.active > a {
    color: #353C44;
}

ul.nav > li.active > a  {
    background: none;
    color: #353C44;
    text-decoration: underline;
}

footer .nav li a {
    font-size: 18px;
    margin-right: 60px;
}
footer .container .container, footer .navbar{
    padding-left: 0;
}
.nav li a {
    font-size: 18px;
    line-height: 123.8%;
    letter-spacing: 0.05em;
    color: #455880;
    margin-right:60px;
}
ul.nav > li > a:hover {
    text-decoration: underline;
    color: #353C44;
    background: none;
}

ul#mysidebar {
    border-radius:0px;
}
/* end sidebar */

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    border-radius:5px;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    border-radius: 5px;
}

span.projectTitle {
    font-weight: bold;
}

.footerMeta {
    background-color: whitesmoke;
    padding: 10px;
    max-width: 250px;
    border-radius: 5px;
    margin-top: 50px;
    font-style:italic;
    font-size:12px;
}

img.screenshotSmall {
    max-width: 300px;
}


dl dt p {
    margin-left:20px;
}


dl dd {
    margin-top:10px;
    margin-bottom:10px;
}

dl.dl-horizontal dd {
    padding-top: 20px;
}

figcaption {

    padding-bottom:12px;
    padding-top:6px;
    max-width: 90%;
    margin-bottom:20px;
    font-style: italic;
    color: gray;

}

.testing {
    color: orange;
}

.preference {
    color: red;
}


table.dataTable thead {
    background-color: #444;
}
table td {
    hyphens: auto;
}

section table tr.success {
    background-color: #dff0d8 !important;
}

table tr.info {
    background-color: #d9edf7 !important;
}

section table tr.warning, table tr.testing, table tr.testing > td.sorting_1  {
    background-color: #fcf8e3 !important;
}
section table tr.danger, table tr.preference, table tr.preference > td.sorting_1  {
    background-color: #f2dede !important;
}

.orange {
    color: orange;
}

table.profile thead tr th {
    background-color: #248ec2;
}

table.request thead tr th {
    background-color: #ED1951;
}

.audienceLabel {
    margin: 10px;
    float: right;
    border:1px solid #dedede;
    padding:7px;
}

.prefaceAudienceLabel {
    color: gray;
    text-align: center;
    margin:5px;
}
span.myLabel {
    padding-left:10px;
    padding-right:10px;
}

button.cursorNorm {
    cursor: default;
}

a.dropdown-toggle, .navbar-inverse .navbar-nav > li > a  {
    margin-left: 10px;
}

hr.faded {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

hr.shaded {
    height: 12px;
    border: 0;
    margin-top: 70px;
    background: white;
    width: 100%;
    margin-bottom: 10px;
}

.fa-6x{font-size:900%;}
.fa-7x{font-size:1100%;}
.fa-8x{font-size:1300%;}
.fa-9x{font-size:1500%;}
.fa-10x{font-size:1700%;}

i.border {
    padding: 10px 20px;
    background-color: whitesmoke;
}

a[data-toggle] {
    color: #248EC2;
}

.summary {
    font-size:120%;
    color: #808080;
    margin:20px 0px 20px 0px;
    border-left: 5px solid #ED1951;
    padding-left: 10px;

}

.summary:before {
    content: "Summary: ";
    font-weight: bold;
}


a.fa.fa-envelope-o.mailto {
    font-weight: 600;
}

.alert, .callout {
    overflow: hidden;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #248ec2;
    color: white;
}

ol li ol li {list-style-type: lower-alpha;}
ol li ul li {list-style-type: disc;}

li img {clear:both; }

div#toc ul li ul li {
    list-style-type: none;
    margin: 5px 0px 0px 0px;
}

.tab-content {
    padding: 15px;
    background-color: #FAFAFA;
}

span.tagTitle {font-weight: 500;}

li.activeSeries {
    font-weight: bold;
}

.seriesContext .dropdown-menu li.active {
    font-weight: bold;
    margin-left: 43px;
    font-size:18px;
}

.alert-warning {
    color: #444;
}

div.alert code, h2 code {
    background-color: transparent !important;
}
/* without this, the links in these notes aren't visible.*/
.alert a {
    text-decoration: underline;
}

div.tags {padding: 10px 5px;}

.tabLabel {
    font-weight: normal;
}

hr {
    background: #999;
    margin: 30px 0px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

button.cursorNorm {
    cursor: pointer;
}

h2  {
    font-size:24px;
    line-height:29px;
}
span.otherProgrammingLanguages {
    font-style: normal;
}

a[data-toggle="tooltip"] {
    color: #649345;
    font-style: italic;
    cursor: default;
}

.seriesNext, .seriesContext {
    margin-top: 15px;
    margin-bottom: 15px;
}

.seriescontext ol li {
    list-style-type: upper-roman;
}

ol.series li {
    list-style-type: decimal;
    margin-left: 40px;
    padding-left: 0px;
}

.siteTagline {
    font-size: 200%;
    font-weight: bold;
    color: silver;
    text-align: center;
    line-height: 10px;
    margin: 20px 0px;
    display: block;
}

.versionTagline {
    text-align: center;
    margin-bottom: 20px;
    color: silver;
    color: #444;
    display:block;
}

/* not sure if using this ...*/
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #248ec2 !important;
}

#mysidebar a {
    padding: 10px 0 10px 36px;
    padding: 5px 0;
}
#mysidebar li.active a {
    text-decoration: underline;
}
.nav ul.series li {
    list-style: decimal;
    font-size:12px;
}

.nav ul.series li a:hover {
    background-color: gray;
}
.nav ul.series {
    padding-left: 30px;
}

.nav ul.series {
    background-color: #FAFAFA;
}

span.muted {color: #666;}

table code {background-color: transparent;}

.highlight .err {
    color: #a61717;
    background-color: transparent !important;
}

table p {
    margin-top: 12px;
    margin-bottom: 12px;
}

pre, table code {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

pre {
    margin: 25px 0px;
}


@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #444;
    }
}

@media (max-width: 990px) {
    #mysidebar {
        position: relative;
    }
}

@media (min-width: 1000px) {

    ul#mysidebar {
        width: 225px;
    }
}

@media (max-width: 900px) {

    ul#mysidebar {
        max-width: 100%;
    }
}

.col-md-9 img {
    max-width: 100%;
    max-height: 100%;
}


.post-content img {
    margin: 12px 0px 3px 0px;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.col-md-9 img {
    max-width: 100%;
    max-height: 100%;
}


.post-content img {
    margin: 12px 0px 3px 0px;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.videoThumbs img {
    float: left;
    margin:15px 15px 15px 0px;
    border: 1px solid #dedede;
}


@media only screen and (min-width: 900px), only screen and (min-device-width: 900px) {
    .col-md-9 img {
        max-width: 700px;
        max-height: 700px;
    }
}

*:hover > .anchorjs-link {
    transition: color .25s linear;
    text-decoration: none;
}

.kbCaption {
    color: white;
    background-color: #444;
    padding:10px;
}



/* Strip the outbound icon when this class is present */
a[href].noCrossRef::after,
a.no_icon:after
 {
    content:"" !important;
    padding-left: 0;
}

.btn-default {
    margin-bottom: 10px;
}

/* algolia search */

.search {
    text-align: left;
}
.search input {
    font-size: 20px;
    width: 300px;
}
.results {
    margin: auto;
    text-align: left;
}
.results ul {
    list-style-type: none;
    padding: 0;
}

/* algolia */

div.results {
    position: absolute;
    background-color: white;
    width: 100%;
}

.post-meta {
    font-size: 14px;
    color: #828282;
}

.post-link {
    font-size: 22px;
}

.post-list p {
    margin: 10px 0px;
}

time {
    margin-right: 10px;
}

p.post-meta time {
    margin-right: 0px;
}

span.label.label-default {
    background-color: gray;
}

span.label.label-primary {
    background-color: #f0ad4e;
}
.col-lg-12 .nav li a {background-color: white}


.nav li.active > a.subfoldersTitle {
    background-color: whitesmoke;
    font-weight: bold;
    color: black;
    }

a code {
    color: #248EC2;
}

code + a > code {
    margin-left: -7px;
}

table th code {
    color: white;
}

ol li ul li ol li {
    list-style: decimal;
}

ol li ul li ol li ul li{
    list-style: disc;
}

.post-content table th {
    vertical-align: top;
}

table thead th code.highlighter-rouge {
    background-color: transparent;
}


.box {
    padding: 10px;
    border: 1px solid #888;
    width: 100px;
    height: 80px;
    background-color: #f5f5f5;
    font-size: 12px;
    hyphens: auto;
    float: left;
    font-size: 12px;
}

.box:hover {
    background-color: #f0f0f0;
}

#userMap {
    overflow-x: auto;
    overflow-y: auto;
    padding: 20px;
    min-width: 770px;
}

#userMap .active {
    background-color: #d6f5d6;
    border:1px solid #555;
    font-weight: bold;
}

#userMap a:hover {
    text-decoration: none;
  }

div.arrow {
    max-width: 50px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 20px;
}

div.content {
    max-width: 110px
}

#userMap div.arrow, #userMap div.content {
    float: left;
}

.clearfix {
    clear: both;
}


#userMap div.arrow {
    position: relative;
    top: 30px;
}

.box1 {
    margin-left:0px;
}

button.btn.btn-default.btn-lg.modalButton1 {
    margin-left: -20px;
}

div.box.box1 {
    margin-left: -20px;
}

#userMap .btn-lg {
    width: 100px;
    height: 80px;

}

#userMap .complexArrow {
    font-size: 22px;
    margin: 0px 10px;
}


#userMap .btn-lg .active {
    background-color: #d6f5d6;
}

#userMap .btn-lg  {
        white-space: pre-wrap;       /* css-3 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
        font-size: 14px;
    }

/*
 * Let's target IE to respect aspect ratios and sizes for img tags containing SVG files
 *
 * [1] IE9
 * [2] IE10+
 */
/* 1 */
.ie9 img[src$=".svg"] {
    width: 100%;
}
/* 2 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    img[src$=".svg"] {
        width: 100%;
    }
}

h4.panel-title {
    padding-top: 0px;
    margin-top: 0px;
}

/*set navbar breakpoint so that it converts to hamburger earlier */

@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}


pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

body > .navbar{
    position: absolute;
    width: 100%;
    top: 25px;
    z-index: 1;
}
h3.header-tag {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #1D66FF !important;
}
.main-banner-image{
    background-position: center -1800px;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    height: 2088px;
    width: 100%;
}
.main-banner-background{
    background-image: url(/images/main-banner/background.svg);
}
.main-banner-fon{
    background-image: url(/images/main-banner/fon.svg);
    opacity: 0;
}
.loaded .main-banner-fon{
    animation: showFon 300ms linear;
    opacity: 1;
}
.main-banner-blur{
    background-image: url(/images/main-banner/blur.svg);
    opacity: 0;
}
.loaded .main-banner-blur{
    animation: showBlur 600ms linear;
    opacity: 1;
}
.main-banner-grid{
    background-image: url(/images/main-banner/grid.svg);
    opacity: 0;
}
.loaded .main-banner-grid{
    animation: showBanner 1000ms linear;
    opacity: 1;
}
.main-banner-filter{
    background-image: url(/images/main-banner/filter.svg);
    opacity: 0;
}
.loaded .main-banner-filter{
    animation: showFilter 1100ms linear;
    opacity: 1;
}
.main-banner-alert{
    background-image: url(/images/main-banner/alert.svg);
    opacity: 0;
}
.loaded .main-banner-alert{
    animation: showAlert 1300ms linear;
    opacity: 1;
}

.main-banner-row{
    opacity: 0;
}
.loaded .main-banner-row{
    opacity: 1;
    animation: showMainText 600ms linear;
}
.main-banner-buble{
    background-image: url(/images/main-banner/buble.svg);
    opacity: 0;
}
.loaded .main-banner-buble{
    animation: showBuble 1500ms linear;
    opacity: 1;
}
@keyframes showBuble {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes showMainText {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes showFon {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes showBlur {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes showAlert {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes showFilter {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes showBanner {
    0% {
        opacity: 0;
        background-position: -webkit-calc(50% - 59px) -1665px;
    }
    50% {
        opacity: 0;
        background-position: -webkit-calc(50% - 59px) -1665px;
    }
    85% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        top: 0;
        left: 0;
        background-position: 50% -1800px;
    }
  }

.main-banner{
    height: 962px;
    width: 100%;
    position: absolute;
    overflow: hidden;
}
.main-banner-row{
    padding-top: 170px;
    height: 800px;
}

.main-page h3 {
    margin-bottom: 35px;
    font-weight: 900;
}
.main-page h2, .main-page h1, .header-tag, .features a, a.btn, .nav a{
    font-family: 'Nunito Sans ExtraBold', sans-serif, 'Nunito Sans', 'Helvetica Neue Light', 'Open Sans', Helvetica;
}
.main-page h2, .main-page h1 {
    margin-bottom: 35px;
    font-weight: bold;
    font-size: 56px;
    line-height: 100%;
    letter-spacing: 0.01em;
    font-weight: 800;
    color: #1E266D;
}
.main-page h2 {
    font-size: 40px;
}
.main-page p {
    margin-bottom: 45px;
    font-size: 18px;
    line-height: 150%;
    color: #455880;
}
.main-banner img{
    height: 962px;
    width: 2146px;
}
.anchorjs-link {
    position: absolute;
}
.main-banner-text{
    padding-top: 80px;
}
.row.reducer-row {
    padding-top: 200px;
    height: 800px;
}
.row.open-source-absolute{
    margin-right: 0;
    margin-left: 0;
}
.reducer-row img{
    max-width: 616px;
}
.reducer-container{
    position: absolute;
    right: 50%;
}

.customizable-row, .row.features .col-md-12{
    text-align: center;
}

.customizable-row{
    margin-top: 100px;
    margin-bottom: 100px;
}

.customizable-row p {
    margin-bottom: 0;
}

.open-source{
    padding-top: 200px;
    height: 800px;
}

.features{
    margin-top: 150px;
}
.features .col-md-4{
    margin-bottom: 80px;
}
.features img{
    width: 30px;
}
.features .img{
    height: 30px;
    margin-bottom: 22px;
}

h4{
    color: #1E266D !important;
    font-weight: 500;
    font-size: 30px;
    line-height: 140%;
}

@media (min-width: 1400px){
    .container {
        max-width: 1350px;
    }
}

footer{
    border-top: 2px solid #E6EDFC;
    padding-top: 45px;
    font-size: 18px;
    padding-bottom: 60px;
}
footer .col-md-3{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
footer .col-md-3 a {
    margin-left: 5px;
}

#main {
    margin-top: 100px;
}

.features p {
    margin-bottom: 12px;
}

.demos{
    text-align: center;
}

.computer-block{
    overflow: hidden;
}

.open-source-absolute{
    position: absolute;
    width: 100%;
}


.features a{
    color: #1D66FF;
    font-weight: bold;
}
img{
    width: 100%;
}
.computer-block img{
    width: 1074px;
}

@media (max-width: 767px){
    .main-banner-image{
        display: none;
    }
    .row.main-banner-row{
        height: 640px;
    }
    .main-banner-image.main-banner-background{
        display: block;
        background-position: center -2050px;
    }
    .nav li a, footer .nav li a {
        margin-right:20px;
    }
    #main {
        margin-top: 130px;
    }
    footer .navbar .container {
        padding-right: 0;
    }
    footer .col-md-3 {
        justify-content: flex-start;
        margin-top: 30px;
    }
    footer {
        padding-bottom: 0;
        margin: 0 0 20px;
    }
    .navbar {
        padding: 0;
    }
    .navbar-header{
        margin-bottom: 25px;
    }
    .main-banner-row {
        padding-top: 120px;
    }

    .main-banner-row .btn-primary{
        display: none;
    }
    .main-page .anchorjs-link {
        display: none;
    }
    .main-page p {
        margin-bottom: 25px;
    }
    .btn-outline-primary{
        padding: 0;
    }
    .main-banner-container {
        background-position: -1200px -600px;
        background-size: 2500px;
    }
    .row.reducer-row{
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        padding-top: 0;
    }
    .row.reducer-row img{
        width: 100%;
    }
    .customizable-row{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .customizable-row img{
        width: 100%;
    }
    .open-source-absolute{
        display: none;
    }
    .open-source{
        padding-top: 0;
        height: 350px;
    }
    .features .col-md-4 {
        margin-bottom: 60px;
    }
    .features .img {
        margin-bottom: 0;
        float: left;
        margin-right: 15px;
        position: relative;
        top: 4px;
    }
}