<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-50311880-6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-50311880-6');
  var timeoutId = null;
  function search_ev(value){
      clearTimeout(timeoutId);
    if(value){
      timeoutId = setTimeout(() => gtag(
        'event',
        value,
        { 'event_category': 'search' }), 300);
    }
  }
</script>
